<!-- The Side Bar -->

<div id="sidebar" class="d-flex flex-column align-items-end">
  <div class="profile-wrapper">
    <a href="{{ '/' | relative_url }}" id="avatar" class="rounded-circle">
      {% if site.avatar != empty and site.avatar %}
        {% capture avatar_url %}
            {% if site.avatar contains '://' %}
              {{ site.avatar }}
            {% elsif site.img_cdn != empty and site.img_cdn %}
              {{ site.avatar | prepend: site.img_cdn }}
            {% else %}
              {{ site.avatar | relative_url }}
            {% endif %}
          {% endcapture %}
        
        <model-viewer src="{{ avatar_url | strip }}" poster="/assets/img/model-posters/poster.webp" interpolation-decay="25" shadow-intensity="1" camera-orbit="0deg 0deg auto" field-of-view="30deg" camera-target="0m 0m 0m" min-camera-orbit="-10deg 80deg auto" max-camera-orbit="10deg 100deg auto" id="avatar_model">
          <div id='eye_container'>
            <div id="eye_inner">
              <div class='eye'></div>
              <div class='eye'></div>
            </div>
          </div>
          <div class="progress-bar hide" slot="progress-bar">
              <div class="update-bar"></div>
          </div>
      </model-viewer>
      

      <script>
        const modelViewer = document.getElementById('avatar_model'); 
        const eyesContainer = document.getElementById('eye_container'); 
        const eyesInner = document.getElementById('eye_inner'); 

        const minCamOrbit = modelViewer.minCameraOrbit;
        const maxCamOrbit = modelViewer.maxCameraOrbit;
        
        document.onmousemove = handleMouseMove;
        
        function handleMouseMove(event) {
          const box = modelViewer.getBoundingClientRect()
          const centerX = (box.left + box.right) / 2
          const centerY = (box.top + box.bottom) / 2
          var minOrbit = modelViewer.minCameraOrbit.split("deg");
          var maxOrbit = modelViewer.maxCameraOrbit.split("deg");
          
          event = event || window.event;
          x = (event.clientX / window.innerWidth)*minOrbit[0];  
          y = -(event.clientY/ window.innerHeight)*(90-minOrbit[1]);
          
          x = event.clientX-centerX < 0 ? (-(event.clientX/centerX)+1)*maxOrbit[0] : x;
          y = event.clientY-centerY < 0 ? (-(event.clientY/centerY)+1)*(maxOrbit[1]-90) : y;

          modelViewer.cameraOrbit = (x) + "deg " + (90+y) +"deg auto";
          eyesContainer.style.transform = 'rotateX('+y+'deg) rotateY('+-x+'deg) translateZ(60px)';
        }
        document.body.onmousemove = (function(event) {
          $(".eye").each((i, obj)=>{
            var x = ($(obj).offset().left) + ($(obj).width() / 2);
            var y = ($(obj).offset().top) + ($(obj).height() / 2);
            var rad = Math.atan2(event.pageX - x, event.pageY - y);
            var rot = (rad * (180 / Math.PI) * -1) + 180;
            $(obj).css({
              '-webkit-transform': 'rotate(' + rot + 'deg)',
              '-moz-transform': 'rotate(' + rot + 'deg)',
              '-ms-transform': 'rotate(' + rot + 'deg)',
              'transform': 'rotate(' + rot + 'deg)'
            });
          })
        });

        function randRange(data) {
          var newTime = data[Math.floor(data.length * Math.random())];
          return newTime;
        }
        const blinktime = 100;
        function toggleSomething() {
          var timeArray = new Array(5000, 3000, 15000);

          // do stuff, happens to use jQuery here (nothing else does)
          $(eyesInner).animate({
            height: "toggle",
            top: "+="+$(eyesInner).height()/2
          }, blinktime, function() {
            $(eyesInner).animate({
              height: "toggle",
              top: "-="+$(eyesInner).height()/2
            }, blinktime);
          });
          $(".eye").animate({
            top: "-="+$(eyesInner).height()/2
          }, blinktime, function() {
            $(this).animate({
              top: "0"
            }, blinktime);
          });

          clearInterval(timer);
          timer = setInterval(toggleSomething, randRange(timeArray));
        }

        var timer = setInterval(toggleSomething, 1000);
      </script>
      {% endif %}
    </a>

    <div class="site-title">
      <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
    </div>
    <div class="site-subtitle fst-italic">{{ site.tagline }}</div>
  </div>
  <!-- .profile-wrapper -->

  <ul class="nav flex-column flex-grow-1 w-100 ps-0">
    <!-- home -->
    <li class="nav-item{% if page.layout == 'home' %}{{ " active" }}{% endif %}">
      <a href="{{ '/' | relative_url }}" class="nav-link">
        <i class="fa-fw fas fa-home"></i>
        <span>{{ site.data.locales[include.lang].tabs.home | upcase }}</span>
      </a>
    </li>
    <!-- the real tabs -->
    {% for tab in site.tabs %}
      <li class="nav-item{% if tab.url == page.url %}{{ " active" }}{% endif %}">
        <a href="{{ tab.url | relative_url }}" class="nav-link">
          <i class="fa-fw {{ tab.icon }}"></i>
          {% capture tab_name %}{{ tab.url | split: '/' }}{% endcapture %}

          <span>{{ site.data.locales[include.lang].tabs.[tab_name] | default: tab.title | upcase }}</span>
        </a>
      </li>
      <!-- .nav-item -->
    {% endfor %}
  </ul>
  <!-- ul.nav.flex-column -->

  <div class="sidebar-bottom d-flex flex-wrap  align-items-center w-100">
    {% unless site.theme_mode %}
      <button class="mode-toggle btn" aria-label="Switch Mode">
        <i class="fas fa-adjust"></i>
      </button>

      {% if site.data.contact.size > 0 %}
        <span class="icon-border"></span>
      {% endif %}
    {% endunless %}

    {% for entry in site.data.contact %}
      {% case entry.type %}
        {% when 'github', 'twitter' %}
          {%- capture url -%}
            https://{{ entry.type }}.com/{{ site[entry.type].username }}
          {%- endcapture -%}
        {% when 'email' %}
          {% assign email = site.social.email | split: '@' %}
          {%- capture url -%}
            javascript:location.href = 'mailto:' + ['{{ email[0] }}','{{ email[1] }}'].join('@')
          {%- endcapture -%}
        {% when 'rss' %}
          {% assign url = '/feed.xml' | relative_url %}
        {% else %}
          {% assign url = entry.url %}
      {% endcase %}

      {% if url %}
        <a
          href="{{ url }}"
          aria-label="{{ entry.type }}"
          {% assign link_types = '' %}

          {% unless entry.noblank %}
            target="_blank"
            {% assign link_types = 'noopener noreferrer' %}
          {% endunless %}

          {% if entry.type == 'mastodon' %}
            {% assign link_types = link_types | append: ' me' | strip %}
          {% endif %}

          {% unless link_types == empty %}
            rel="{{ link_types }}"
          {% endunless %}
        >
          <i class="{{ entry.icon }}"></i>
        </a>
      {% endif %}
    {% endfor %}
  </div>
  <!-- .sidebar-bottom -->
</div>
<!-- #sidebar -->
